@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #1c2042;
}
ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.btn{
  padding: 0.5rem 1.2rem;
  color: white;
  background-color: blueviolet;
  border-radius: 4px;
  border: 2px solid blueviolet;
  text-transform: uppercase;
  outline: none;
}

nav{
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid whitesmoke;
}

.nav__bar{
  display: flex;
  align-items: center;
}

.nav__link{
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 1.2rem;
  color:#3a3a3a;
  display: inline-block;
}
.nav__link::after{
  content: "";
  display: block;
  height: 0.3rem;
  width: 0;
  margin-top: 5px;
  background-color: blueviolet;
  transition: all 0.5s;
}

.nav__link:hover::after{
  width: 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5rem);
}

.header__img{
  max-width: 670px;
  height:auto;
}

.header__left{
  width: 30%;
}
.header__left .title{
  font-size: 3rem;
  text-transform: uppercase;
}

.header__left .designation{
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 400;
  color: rgb(104, 104, 104);
}

.header__left .description{
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 2rem 0;
  color: rgb(27, 27, 27);
}
.header__right{
  width: 70%;
}
@media(max-width:991px){
  header{
    flex-direction: column;
    margin-top: 2rem;
  }
  .header__right{
    width: 100%;
  }
  .header__left{
    width: 100%;
    text-align: center;
  }
}